@import url("colors.css");

.essay {
  color: var(--dark-color);
  background-color: var(--bg);
  margin: 0 2em;
}

.titley {
  font-family: 'Roboto', sans-serif;
  color: var(--med-color);
  background-color: var(--bg);
  font-weight: bold;
  font-size: 1.2em;
  margin: 2em;
}
