/* DM me @super_gory on twitter or insta with your favorite carbohydrate */
/* general */
:root {
  --white: #ffffff;
  --bg: #ececec;
  --light-neutral: #ececec;
  --med-neutral: #777;
  --light-color: #dfe2d2;
  --med-color: #6cbf84;
  --dark-color: #314233;
  --black: #000;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.content {
  flex: 1 0 auto;
}

hr {
  margin-top: 0;
}


/* text */
h1 {
  font-family: 'Fredericka the Great', cursive;
  color: var(--dark-color);
  background-color: var(--bg);
  margin-top: 1em;
  margin-bottom: 2em;
}

p {
  color: var(--dark-color);
  background-color: var(--bg);
  margin: 1em;
}


/* navigation bar */
.navbar {
  background-color: var(--bg);
  color: var(--med-color);
  border: 0;
}

.navbar .navbar-brand > h1 {
  font-family: 'Fredericka the Great', cursive;
  color: var(--black);
  background-color: var(--bg);
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active> a:focus,
.navbar .navbar-nav > .nav-item > a:hover,
.navbar .navbar-nav > .nav-item > a:focus {
  color: var(--med-color);
  background-color: var(--bg);
  font-weight: bold;
}

/* row formatting */
.outer > .row {
  margin: 1em;
  border-left: 0.3em var(--dark-color) solid;
}

.outer > .row > .col > p {
  color: var(--dark-color);
}

/* img */
.img-fluid {
  width: 100%;
  max-width: 15em;
  border: 0.3em var(--dark-color) solid;
}

/* footer */
.footer {
  flex-shrink: 0;
  max-width: 100%;
}

.footer > p {
  /* margin-top: 50px; */
  color: var(--med-neutral);
  background-color: var(--bg);
  margin-left: 1em;
  margin-right: 1em;
}

/* links */
.link {
  color: var(--dark-color);
  background-color: var(--bg);
}

.link:hover {
  color: var(--med-color);
  background-color: var(--bg);
}
