/* general */
:root {
  --white: #ffffff;
  --bg: #ffffff;
  /*--bg: #ececec;*/
  --light-neutral: #e7baa0;
  --med-neutral: #6d7973;
  --light-color: #8EBCB2;
  --med-color: #469079;
  --dark-color: #294A3F;
  --variant: #6d7973;
  --black: #000;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.content {
  flex: 1 0 auto;
}

hr {
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
}


/* text */
h1 {
  font-family: 'Poppins', serif;
  font-weight: bold;
  color: var(--dark-color);
  background-color: var(--bg);
  margin-top: 1em;
  margin-bottom: 1.5em;
  margin-left:0.5em;
  margin-right:0.5em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: var(--med-color);
  background-color: var(--bg);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top:0em;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--variant);
  background-color: var(--bg);
  font-weight: bold;
  font-size: 1.2em;
}

p {
  color: var(--dark-color);
  background-color: var(--bg);
  margin: 1em;
}

.thicc-hr {
  width: 200%;
  color: var(--dark-color);
}

/* navigation bar */
.navbar {
  background-color: var(--bg);
  color: var(--light-color);
  border: 0;
}

.navbar .navbar-brand > h1 {
  font-family: 'Poppins', serif;
  color: var(--light-color);
  background-color: var(--bg);
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .navbar-brand > h1:hover,
.navbar .navbar-brand > h1:focus {
  color: var(--med-color);
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active> a:focus,
.navbar .navbar-nav > .nav-item > a:hover,
.navbar .navbar-nav > .nav-item > a:focus {
  color: var(--med-color);
  background-color: var(--bg);
  font-weight: bold;
}

/* row formatting */
.outer > .row {
  margin: 1em;
  /* border-bottom: 0.2em var(--dark-color) solid; */
}

.outer > .row > .hastext {
  color: var(--dark-color);
  border-left: 0.2em var(--dark-color) solid;
  padding-right: 3em;
  margin-bottom: 1em;
}

* > .journal > .hasimage {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

* > .journal > .hasimage > .img-fluid {
  width: 100%;
  max-width: 7em;
  min-width: 4em;
  border: 0em;
}

*.journal > .text-left {
  margin-left: 0;
  padding-left: 0;
}

/* img */
.img-fluid {
  width: 100%;
  max-width: 18em;
  min-width: 10em;
  border-radius: 50%;
  border: 0.2em var(--med-color) solid;
  margin-bottom: 2em;
}

/* footer */
.footer {
  flex-shrink: 0;
  max-width: 100%;
}

.footer > p {
  /* margin-top: 50px; */
  color: var(--med-color);
  background-color: var(--bg);
  margin-left: 1em;
  margin-right: 1em;
}

/* links */
h1 > .link {
  color: var(--dark-color);
	text-decoration: underline;
  background-color: var(--bg);
  font-weight: bold;
}

* > .link {
  color: var(--dark-color);
  background-color: var(--bg);
  font-weight: bold;
}

.link:hover {
  color: var(--med-color);
  font-weight: bold;
  background-color: var(--bg);
}
/* DM me @super_gory on twitter or insta with your favorite carbohydrate */
