@import url("animations.css");
@import url("navbar.css");

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.content {
  flex: 1 0 auto;
}

hr {
  margin: 0 1em;
}

h1, h2, h3 {
  font-weight: bold;
  background-color: var(--bg);
}

h1 {
  font-family: 'Poppins', serif;
  color: var(--dark-color);
  margin: 1em 0.5em 1.5em;
	-webkit-animation: tada 1s 1;
	animation: tada 1s 1;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: var(--med-color);
  font-size: 1.5em;
  margin: .5em 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--med2-color);
  font-size: 1.2em;
}

p {
  color: var(--dark-color);
  background-color: var(--bg);
  margin: 1em;
}

#projHeading {
  margin: 1.5em 0;
  text-align: center;
}

#projBuffer {
  padding: 1em;
}

.caption {
  margin: .5em 0 2em 0;
}

.row {
  margin: .25em;
}

.row > .heading,  .row .heading{
  font-weight: bold;
  margin: 1em .1em .2em;
}

.row > .body {
  margin: 1em .4em .2em;
}

.hastext {
  color: var(--dark-color);
  border-left: 0.2em var(--dark-color) solid;
  margin: 1em 0;
}

.img-fluid, .vidya {
  width: 100%;
  min-width: 10em;
}

.img-fluid {
  max-width: 18em;
  border-radius: 50%;
  border: 0.2em var(--med-color) solid;
  margin-bottom: 2em;
}

.vidya {
  margin: 1em;
  display: block;
  border: 0.2em var(--med-color) solid;
}

.link, .link:hover {
  font-weight: bold;
  background-color: var(--bg);
  text-decoration: underline;
}

.link {
  color: var(--dark-color);
}

.link:hover {
  color: var(--med-color);
}

.buffer {
  padding: 2em;
  text-align: center;
}

/* DM me @super_gory on twitter or insta with your favorite houseplant */
