@import url("colors.css");

.navbar {
  background-color: var(--bg);
  color: var(--light-color);
  border: 0;
}

.navbar .navbar-brand > .logo {
  font-family: 'Poppins', serif;
  color: var(--light-color);
	font-weight:bold;
  background-color: var(--bg);
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .navbar-brand > h1:hover,
.navbar .navbar-brand > h1:focus {
  color: var(--med-color);
}

.navbar .navbar-nav > .nav-item > .nav-link {
	color: var(--nav-color);
}


.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active> a:focus,
.navbar .navbar-nav > .nav-item > a:hover,
.navbar .navbar-nav > .nav-item > a:focus {
  color: var(--med-color);
  background-color: var(--bg);
  font-weight: bold;
}

/* footer */
footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

footer > p {
  /* margin-top: 50px; */
  color: var(--med-color);
  background-color: var(--bg);
}
