@import url("colors.css");
@import url("animations.css");

.navbar {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--bg);
  color: var(--light-color);
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.logo {
  color: #000;
  font-size: 3em;
  font-weight: bold;
  margin: 10px;
}

.nav-links {
  margin: auto 10px;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* navbar formatted for mobile */
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
    text-align: center;
    margin: 0;
  }

  .nav-links {
    margin: 0 auto;
    flex-flow: row wrap;
  }
}

.nav-link {
	color: var(--light-color);
  text-decoration: none;
  background: var(--nav-bg);
  border: var(--nav-bg) solid 2px;
  border-radius: 24px;
  line-height: 1rem;;
  padding: 3px 10px;
  margin: 2px;

  -webkit-transition: var(--hover);
  -moz-transition: var(--hover);
  -o-transition: var(--hover);
  transition: var(--hover);
}

.nav-link:hover, .nav-link.active:hover {
  background-color: var(--bg);
  font-weight: 500;
  border: var(--med2-color) solid 2px;
  color: var(--med2-color);
}

.nav-link.active {
  color:var(--dark-color);
  font-weight: 500;
}

.contact {
  width: 100%;
  text-align: center;
  color: var(--med-color);
  margin: 32px 0;
  flex-shrink: 0;
}