@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Spline+Sans&display=swap');

body {
 background-color: linen;
 background-image: url('./leaf.svg');
 background-position: center top;
 font-family: 'Lora', serif;
}

.main {
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 width: 90%;
 padding: 2rem 1rem;
}

@media (min-width: 600px) {
 .main {
  max-width: 600px;
  padding: 1rem 0;
 }
}

p {
 color: rgb(52, 66, 27);
 font-weight: bold;
 padding-bottom: 0.5rem;
 text-align: center;
}

#error {
 display: block;
 max-width: 80%;
}

#logo {
 fill: rgb(52, 66, 27);
 width: 33%;
 min-width: 120px;
 margin: 0 auto;
}

#buttons {
 display: flex;
 flex-direction: row;
}

.button {
 fill: darkolivegreen;
 min-width: 120px;
 margin: 0 auto;
 max-width: 200px;
 max-height: 100px;
 cursor: pointer;
}

.button.on {
 fill: none;
 stroke:rgb(52, 66, 27);
 stroke-width: 4px;
}

.button:hover {
 fill: olivedrab;
 stroke:rgb(52, 66, 27);
 stroke-width: 2px;
}

.button:hover .buttontext {
 stroke:none;
}

.button.on .buttontext {
 fill:rgb(52, 66, 27);
}

.buttontext {
 fill: linen;
 font-size: 100px;
 font-weight: bold;
}

.hide {
 visibility: collapse;
 height: 0;
}

a, a:hover, a:visited {
 color: rgb(52, 66, 27);
}

#break {
 margin: 0 auto;
 padding-top: 1rem;
}